@import "reset";
@import "theme/light";
@import "theme/dark";
@import "variables/global";

.app {
  font-size: var(--font-m);
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  flex-grow: 1;
}