.app.light {
  --bg-color: #F8F9FA;
  --text-color: #212529;
  --primary: #007BFF;
  --primary-inverted: #6C757D;
  --secondary: #6C757D;   /* Серый для второстепенных элементов */
  --accent: #FF5722;      /* Оранжевый акцент */
  --border: #DEE2E6;      /* Светло-серый для границ */
  --shadow: rgba(0, 0, 0, 0.1);
}